header h1
{
    border: 10px solid blueviolet;
    font-size: 30px;
    font-weight: bold solid black;
    text-align: center;
}
#cesear
{
    

}
#givenpass
{
    display: none;
}
#vigenere
{
    display: none;
}
