h1
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    color:white;
}
h1:hover
{
    color:black;
}
 
h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color:white;
    text-align: center;
    font-size: 18px;
}
h3 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color:white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
pic
{
  padding-left: 46%;
}
div
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color:white;
    text-align: center;
    font-size: 30px;
    padding-left: 800px;
    padding-right: 800px;
}
body
{
    background-color: #FAA7C9;
}
main
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-left: 40%;
    
} 
footer
{   
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}


